h2 {
	font-size: 1.93333em;
}
h6.xs, h6.menudo {
	font-size: 0.906667em;
}
p {
	font-size: 16px;
}
.carousel {
	.carousel-inner {
		.car-sm {
			 .pag {
			 	.oculto-xs {
			 	 	a {
						div {
							p {
								text-shadow: 1px 1px 0px #ECEEE6;
							}
						}
			 	 	} 
			 	}
			 }
		}
	}
}

#index .publicacion .categoria i, #tag .publicacion .categoria i {
	width: 1.82em !important;
}
.fecha {
	padding: 20px 0px !important;
	margin-right: 45px;
}